body {
  font-family: 'Comfortaa', cursive;

  margin: auto 20px 20px 20px;
  max-width: 100%;

  background-color: #C02942;
  background-image: url('https://media.giphy.com/media/2yTyH3lEt6LRe/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-transform: lowercase !important;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*text-align: center;*/

  color: white;

}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 30px;
}

footer>a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: white;
}

button {
  font-family: 'Comfortaa', cursive;
  color: white;
  text-transform: lowercase;
  border: none;
  background-color: gray;
  border-radius: 20px;
  margin: 20px 5px 0 5px;
  padding: 15px;
  font-size: 18px;
  transition: all 500ms ease;
}

button:hover {
  transition: all 500ms ease;
  background-color: black;
}

input {
  font-family: 'Comfortaa', cursive;
  width: 800px;
  color: white;
  display: flex;
  text-align: center;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 20px;
  background: rgba(0,0,0,.6);
  margin: 5px;
  padding: 10px 0;
  transition: all 500ms ease;
}

input:hover {
  transition: all 500ms ease;
  border: 1px solid white;
}

input:focus {
  outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
}
