body {
  font-family: 'Comfortaa', cursive;

  background-color: #C02942;
  background-image: url('https://media.giphy.com/media/2yTyH3lEt6LRe/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-transform: lowercase !important;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*text-align: center;*/

  color: white;

}
