body {
  font-family: 'Comfortaa', cursive;

  height: 100;

  background-color: #C02942;
  background-image: url('https://media.giphy.com/media/2yTyH3lEt6LRe/giphy.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  text-transform: lowercase !important;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*text-align: center;*/

  color: white;

}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 30px;
}

footer>a {
  color: grey;
  text-decoration: none;
}

a:hover {
  color: white;
}
