body {
  display: flex;
  text-align: center;
  flex-direction: column;
}

h1 {
  font-size: 60px;
  margin-top: 5%;
  letter-spacing: 8px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.playlist-crud {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#playlistName {
  font-size: 40px;
}

#playlistDescr {
  font-size: 24px;
}

#playlistName:hover, #playlistDescr:hover {
  transition: all 500ms ease;
  border: 1px solid white;
}

#playlistName:focus, #playlistDescr:focus {
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  text-align: center;
}
