.playlist-container {
  display: flex;
  flex-direction: row;
}

.playlist-name {
  margin: 25px 0 0 0;
}

.playlist-descr {
  margin: 20px 0 20px 0;
}

#searchInput {
}

#share-link {
  text-transform: none;
  background-color: rgba(0,0,0,.5);
  padding: 5px;
}
