.Video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: 2;
  transition: all 500ms ease;
}

.Videos {
  flex: 1;
}

.video-crud {
  flex: 1;
  order: 3;
}

#video-embed {

}

ul {
  padding: 0;
}

.delete-video-btn, .play-video-btn {
  margin-top: 0;
  border-radius: 15px;
  padding: 10px;
}
